
*.userprefs
Properties/AssemblyInfo.cs
bin/Debug/Assembly-CSharp-firstpass.dll
bin/Debug/Assembly-CSharp.dll
bin/Debug/KSPUtil.dll
bin/Debug/StationaryVessels.dll
bin/Debug/StationaryVessels.pdb
bin/Debug/UnityEngine.UI.dll
bin/Debug/UnityEngine.dll
obj/Debug/DesignTimeResolveAssemblyReferences.cache
obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
obj/Debug/StationaryVessels.csproj.FileListAbsolute.txt
obj/Debug/StationaryVessels.csprojResolveAssemblyReference.cache
obj/Debug/StationaryVessels.dll
obj/Debug/StationaryVessels.pdb
obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
